@import '../../../../var.scss';

.menu {

  &__item {
    position: relative;
    max-height: 365px;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: red;
      z-index: 1;
    }
  }

  &__title_item_opt {
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% - 160px / 2);
    font-family: 'RobotoFont', sans-serif;
    font-weight: 400;
    max-width: 210px;
    color: $white;
  }
}