@import '../../var';

.header {

  &__video_container {
    position: absolute;
    width: 100%;
    height: 826px;
    overflow: hidden;
    z-index: -1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
  }

  &__video_bac {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: #030807;
  }

  &__menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    height: 15px;

    &:hover .header__nav_text {
      color: $white;
    }

    &:hover .header__menu_icon {
      transform: scale(1.3) rotate(90deg);
    }
  }

  &__menu_icon {
    height: 10px;
    width: 30px;
    margin-bottom: 1px;
    transition: $transition_scale_time;
  }

  &__nav_text {
    font-family: 'RobotoFont', sans-serif;
    color: $gold;
    letter-spacing: 0.1em;
    transition: $transition_buttom;
  }

  &__wrapper {
    padding: 35px 75px;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 50px;
  }

  &__lang_block {
    display: flex;
    gap: 5px;
    transition: $transition_buttom;

    &:hover .header__lan_name {
      color: $white;
    }

    &:hover .header__lang_icon {
      transform: $transform_scale;
    }
  }

  &__lang_icon {
    transition: $transition_scale_time;
  }

  &__lan_name {
    color: $gold;
    transition: $transition_buttom;
  }

  &__logo_wrapper {
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 339px;
    margin-right: 25px;
  }

  &__lang_icon {
    width: 15px;
    height: 15px;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__title_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__title {
    position: relative;
    font-size: 90px;
    line-height: 130%;
  }

  &__title::before,
  &__title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: $white;
    width: 85%;
  }

  &__title:after {
    bottom: 0;
  }

  &__title::before {
    top: 0;
  }

  &__text {
    max-width: 550px;
    line-height: 133%;
    text-align: center;
    color: $gold;
  }

  &__ctaButton {
    color: $white;
    line-height: 34%;
    letter-spacing: 0.2em;
    transition: $transition_buttom;

    &:hover {
      background-color: $gold;
      color: $black;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gold;
    gap: 15px;


    &:hover {
      color: $white;
    }

    &:hover .header__rating_ic {
      transform: $transform_scale;
    }
  }

  &__rating_num_block {
    display: flex;
    gap: 5px;
    align-items: flex-end;
  }

  &__rating_ic {
    transition: $transition_scale_time;
  }

  &__rating_num {
    transition: $transition_buttom;
  }

  &__rating_text {
    font-size: 15px;
    transition: $transition_buttom;
  }
}

.title_line {
  display: block;
  width: 85%;
  height: 3px;
  background-color: $white;
  /* Цвет линии */
}

.gridContainer {
  display: grid;
  grid-template-columns: 30px 2fr 30px;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .header {}

  .gridContainer {
    grid-template-columns: 50px 1fr 2fr 50px;
    gap: 30px;
  }
}