@import '../../index.scss';

.footer {
  position: relative;

  &__title {
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/footer_bg.jpg');
    background-size: 250%;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: -550px -650px;
    opacity: 0.15;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #030807;
    z-index: -2;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width) {
      gap: 30px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 1100px) {
      gap: 30px;
    }
  }

  &__address {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;

    @media (max-width: 1100px) {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      margin-left: 80px;
    }

    @media (max-width: 600px) {
      gap: 20px;
      margin-left: 0;
    }
  }

  &__item_link {
    position: relative;
    max-width: 300px;
    font-style: normal;
    margin-left: 70px;
    color: $gold;
    transition: $transition_buttom;

    @media (max-width: 600px) {
      margin-left: 27%;
      // align-self: center;
      max-width: 70%;
      // text-align: center;
    }

    &:hover {
      color: $white;
    }

    &--tel:hover::after,
    &--adress:hover::after,
    &--mail:hover::after {
      transform: $transform_scale_lil;
    }

    &--tel::after,
    &--adress::after,
    &--mail::after {
      content: '';
      position: absolute;
      top: calc(50% - 25px);
      left: -70px;
      width: 50px;
      height: 50px;
      background-size: cover;
      transition: $transition_scale_time;

      @media (max-width: 1100px) {
        top: calc(50% - 17px);
        left: -50px;
        width: 35px;
        height: 35px;
      }

      @media (max-width: 600px) {
        top: calc(50% - 15px);
        left: -45px;
        width: 30px;
        height: 30px;
      }
    }

    &--tel::after {
      background-image: url('../../icons/phone.svg');
    }

    &--adress::after {
      background-image: url('../../icons/location.svg');
    }

    &--mail::after {
      background-image: url('../../icons/mail.svg');
    }
  }

  &__map {
    height: 350px;
    width: 100%;
    background: gray;
    margin-bottom: 20px;
    opacity: 0.85;

    @media (max-width: 1100px) {
      height: 300px;
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      height: 200px;
      margin-bottom: 0;
    }
  }

  &__social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @media (max-width: 1100px) {
      gap: 30px;
    }
  }

  &__soc_item {
    transition: $transition_scale_time;

    &:hover {
      transform: $transform_scale_lil;
    }
  }

  &__soc_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;

    &--type_vk {
      background-image: url('../../icons/vk.svg');
    }

    &--type_teleg {
      background-image: url('../../icons/telegram.svg');
    }

    &--type_inst {
      background-image: url('../../icons/insta.svg');
    }

    @media (max-width: 1100px) {
      width: 35px;
      height: 35px;
    }

    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }
  }

  &__copyrigh {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}