$black: #303030;
$white: #e4ddcf;
$gold: #D4AD72;

$transition_buttom: background-color 0.3s, color 0.5s;

$transition_scale_time: transform 0.3s;
$transform_scale_rotate: scale(1.3) rotate(90deg);
$transform_scale: scale(1.25);
$transform_scale_lil: scale(1.05);

